.cartes{
    display: grid;
    grid-template-columns: 30% 30% 30%;
    gap: 15px;
    justify-content: center;
    align-items: center;
}
.carte{
    border: thin solid rgb(252, 244, 244);
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;   
    background-color: white;
    border-radius: 7px;
    line-height: 30px;
    padding: 23px;
   text-align: center;
   height: 500px;
}

.carte:hover{
                transform: scale(1.1);
}

.moncercle{
    background:#46b16f;
    border-radius:50%;
    width:45px;
    height:45px;
    text-align: center;
    margin-left: 150px;
    border: thin solid #46b16f;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;   

  

  }
  .fa-thin{
    color: white;
   padding: 10px;
  }
  .fa-solid {
    margin-right: 20px;
    padding: 10px;

  }

  span.dollar{
    color: #f08a38;
    position: relative;
    top: -15px;
    font-weight: bold;
    
  }
  span.zero{

    color: #f08a38;
    font-weight : bold;
    font-size : 30px;
  }
  button{
    background-color: white;
    color: #46b16f;
    text-align: center;
    border:thin solid #46b16f;
    border-radius: 10px;
    padding: 8px;
    width: 100px;
    margin-top: 40px;
  }
  .carte .ligne_barre{
    text-decoration: line-through;
  }
p{
  font-size: 13px;
  margin-left: -60px;
}